[Desktop Entry]
Name=CachyOS Control Center
Comment=Desktop utility for CachyOS and Arch Linux
Exec=AppRun
Icon=cachy-control-center
Terminal=false
Type=Application
Categories=System;Settings;Utility;
StartupNotify=true
